body {
    background-image: url("../image/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
.portal{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-radius: 20px;
    height: 305px;
    width: 500px;
    position: absolute;
    right: 125px;
    top: 170px;
    text-align: center;
    margin-top: auto;
    background-color: white;
}
.portal a{
    text-decoration: none;
    margin-top: 10px;
    width: 200px;
}
.portal ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0%;
}
.text-gradient{
    background: linear-gradient(to bottom right, blue 0%, skyblue 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}